portal/oda/
portal/archivos/*.png
portal/archivos/*.mp3
portal/archivos/*.csv
portal/archivos/*.jpg
portal/archivos/*.xlsx
portal/archivos/recursosLecciones
portal/archivos/iconosLecciones
portal/archivos/guiasEstudio
portal/archivos/archivosCargadosPorEstudiantes/speaking/*
portal/archivos/archivosCargadosPorEstudiantes/documentos/*
portal/archivos/archivosCargadosPorEstudiantes/blobTemporalAudios/*
portal/IMG/perfil/*
conf/Cache/carpetaAlmacenamientoCache/
.idea
importar/temp/
conf/conf.php
conf/Init.php
reportes_git_webhook/