<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_URI} !\.(?:css|png|jpe?g|gif|js|eot|svg|ttf|woff|ico|html|php|pdf)$ [NC,OR]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
</IfModule>

<Files *.php>
    Order Allow,Deny
    Allow from all
</Files>